# Basic Null ( send only ) Postfix

smtpd_banner = send only postfix
biff = no
append_dot_mydomain = no
readme_directory = no

myhostname = {{ ansible_fqdn }}
mydomain = {{ ansible_domain }}
myorigin = $mydomain
masquerade_domains = {{ ansible_domain }}

alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mydestination = {{ ansible_fqdn }}, localhost.localdomain, localhost
relayhost = [{{ mail_host }}]:{{ mail_port }}
inet_protocols = ipv4
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
inet_interfaces = loopback-only
sender_canonical_maps = hash:/etc/postfix/canonical

# TLS

smtp_use_tls=yes
smtp_sasl_auth_enable=yes
smtp_sasl_password_maps=hash:/etc/postfix/smtp_auth
tls_random_source=dev:/dev/urandom
smtp_sasl_security_options=noanonymous
smtp_tls_security_level=may
